
html{
    /*shorthand property "background"
    To shorten the code, it is also possible to specify all the background properties in one single property
    When using the shorthand property the order of the property values is:
    background-color / background-image / background-repeat / background-attachment / background-position
    It does not matter if one of the property values is missing, as long as the other ones are in this order.
    */
    background: url(wallpaper.jpg) no-repeat center fixed;
    background-size: cover;


/*  same as
    background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
*/
}

body{
    text-align: center;
}

h1{
    color:SkyBlue;
    background-color: white;
}

p{
    color: white;
}

label{
    font-family: calibri;/*font size for text*/
    font-size: 17px; /*font size of text*/
    font-weight: bold; /*bold = gras*/
    color: deeppink;
    text-align: center;
    width: 170px;
    height: 30px;
    background-color: pink;
    border: 2px solid deeppink;
    border-radius: 20px; /*corners*/
    display: inline-block;
    margin-top: 5px;
}

input{
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: lightblue;
    border: 2px solid darkturquoise;
    border-radius: 20px; /*corners*/
    vertical-align: top;
    margin-left: 20px; /*between labels and inputs*/
    margin-top: 5px; /*between inputs*/
}

button{
    font-family: calibri;/*font size for text*/
    font-size: 17px; /*font size of text*/
    font-weight: bold; /*bold = gras*/
    color: darkgreen;
    width: 170px;
    height: 40px;
    background-color: lightgreen;
    border: 2px solid limegreen;
    border-radius: 20px;
    margin-top: 3em;
    margin-bottom: 3em;

}

#actors{
    font-family: calibri;/*font size for text*/
    font-size: 17px; /*font size of text*/
    color: white;
    width: 50%;
    background-color: #D19275;
    border-radius: 20px;
    margin: 0 auto;
}